.root {
    -fx-background-image: url("../images/Fondo_carritos_rojos.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.principal-button {
    -fx-background-color: #de4733;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-radius: 15;
}

.principal-button:hover {
    -fx-background-color: #de3822;
}

.principal-button:pressed {
    -fx-background-color: #c44536;
}